pandas
numpy
matplotlib
spacy
myqlm
scipy
pytest
jupyterlab

# i've removed tensorflow for now, because it requires a lower python version
# which is incompatible with jupyterlab (or something else)
# tensorflow
scikit-learn
